* {
    margin: 0;
    font-family: 'Work Sans';

}
.banner{
    display: flex;
    justify-content: center;
}
.images {
    absolute;
    width: 1600px;
    height: 808px;
    left: 1585px;
    top: 815px;
}

.btn-primary {
    height: 64px;
    background: coral;
    padding: 14px 35px;
    text-align: right;

}
 
/*banner*/
.banner {
    align-items: center;
    display: flex;
    margin: 0 200px;
}

.banner-title {
    absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;

    'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;

}

.banner-sub-title {
    absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;

    'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;


}

.title {
    absolute;
    width: 288px;
    height: 94px;
    left: 862px;
    top: 1178px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: right;
}

.sub {
    absolute;
    width: 416px;
    height: 104px;
    left: 862px;
    top: 1296px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

}

.little {
    absolute;
    width: 349px;
    height: 162px;
    left: 862px;
    top: 1416px;

}